body{
    color: rgb(0, 0, 0);
    background:rgb(126, 26, 26);
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 100px;
} 

.main {
    border-radius: 0px;
    padding: 50px;
    margin: 0 auto;
    background: #ffffff;
    width: 1420px;
    transform: translate(0%, 0%);
    height: 1000px;
}   

.bu{
    z-index: 6;
    width: 60px;
    height: 30px;
    position: relative;
    left: 1270px;
    top: 150px;
    margin: auto;
}

.ti{
    text-align: center;
    color: rgb(255,255,255)
}
 
#d1{
    border: 1px solid rgb(126,26,26);
    border-collapse: cinitial;
    font-size: 30px;
    font-weight: 350;
}

